.vscode/**
.vscode-test/**
out/test/**
src/**
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
yarn.lock

.gitignore
.eslintignore
.prettierignore
.stylelintrc.json


vsc-extension-quickstart.md
