@import '../../less/colors-button.less';

.muse-button {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  transition: color background 50ms linear;
  user-select: none;

  & > svg {
    margin-right: 4px;
  }

  &-text {
    color: @button-primary-color;
    &.muse-button-disable,
    &:hover {
      color: @button-primary-active-color;
    }
  }

  &-larg {
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 4px;
  }

  &-middle {
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 3px;
  }

  &-small {
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 2px;
  }

  &-dashed {
    box-sizing: border-box;
    color: @button-dashed-color;
    border: 1.5px dashed @button-dashed-border-color;

    &.muse-button-disable,
    &:hover {
      color: @button-primary-color;
      border-color: @button-primary-active-color;
    }
  }

  &-primary {
    color: @button-text-color;
    background: @button-primary-color;

    &.muse-button-disable,
    &:hover {
      background: @button-primary-active-color;
    }
  }

  &-danger {
    color: @button-text-color;
    background: @button-danger-color;

    &.muse-button-disable,
    &:hover {
      background: @button-danger-active-color;
    }
  }

  &-disable {
    cursor: not-allowed;
  }
}
